@model SchoolData.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Conferma di voler eliminare questo studente</h3>
<div>
    <h4>Studente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cognome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.assenze)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.assenze)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.classe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.classe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.specializzazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.specializzazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.averageVote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.averageVote)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
