@model SchoolData.Models.Student;

<h1>Modifica studente</h1>
<div>Inserisci le nuove informazioni dello studente</div>

<form asp-action="Edit">
    <table cellpadding="10">
        <tr>
            <td>
                <lable for="Nome" class="control-label">Nome</lable>
            </td>
            <td>
                <input type="text" name="Nome" value="@Model.nome" />
            </td>
        </tr>

        <tr>
            <td>
                <lable for="Cognome" class="control-label">Cognome</lable>
            </td>
            <td>
                <input type="text" name="Cognome" value="@Model.cognome" />
            </td>
        </tr>
        <tr>
            <td>
                <lable for="DataNascita" class="control-label">Data di nascita</lable>
            </td>
            <td>
                <input type="text" name="DataNascita" value="" />
            </td>
        </tr>

        <tr>
            <td>
                <lable for="Classe" class="control-label">Classe</lable>
            </td>
            <td>
                <input type="text" name="Classe" value="@Model.classe" />
            </td>
        </tr>
        <tr>
            <td>
                <lable for="Specializzazione" class="control-label">Specializzazione</lable>
            </td>
            <td>
                <input type="text" name="Specializzazione" value="@Model.specializzazione" />
            </td>
        </tr>
        <tr>
            <td>
                <lable for="MediaVoti" class="control-label">Media dei voti</lable>
            </td>
            <td>
                <input type="text" name="MediaVoti" value="@Model.averageVote" />
            </td>
        </tr>
    </table>
</form>
<br>
<button type="submit" class="btn btn-primary" >Salva modifiche</button>