@model SchoolData.Models.Student[]

@{
    ViewData["Title"] = "Studenti";
}

<h2>Studenti della scuola</h2>
<a asp-action="Create" asp-controller="Student" class="btn btn-primary">
    Aggiungi
</a>
<div style="margin-bottom: 20px;">Questi sono tutti gli studenti che fanno parte della scuola. </div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Cognome
            </th>
            <th>
                Assenze
            </th>
            <th>
                Classe
            </th>
            <th>
                Specializzazione
            </th>
            <th>
                Media voti
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cognome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assenze)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.classe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.specializzazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.averageVote)
                </td>
                <td>
                    <a class="btn btn-primary" style="margin-right: 20px;" asp-controller="Student" asp-action="Edit" asp-route-id="23"><i class="fa-regular fa-pen-to-square"></i> Modifica</a>
                    <a class="btn btn-primary" style="margin-right: 20px;" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i> Dettaglio</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>